<h2>Let's Connect</h2>

<ul class="mb-4">
  {%- if site.twitter_username -%}
    <li class="inline text-3xl mx-2">
      <a target="_blank" href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" title="{{ site.twitter_username| escape }} on Twitter">
        <span class="jam jam-twitter"></span>
      </a>
    </li>
  {%- endif -%}
  {%- if site.facebook_username -%}
  <li class="inline text-3xl mx-2">
    <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}" title="{{ site.facebook_username| escape }} on Facebook">
      <span class="jam jam-facebook"></span>
    </a>
  </li>
  {%- endif -%}
  {%- if site.github_username -%}
  <li class="inline text-3xl mx-2">
    <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}" title="{{ site.github_username| escape }} on Github">
      <span class="jam jam-github"></span>
    </a>
  </li>
  {%- endif -%}
  {%- if site.linkedin_username -%}
  <li class="inline text-3xl mx-2">
    <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" title="{{ site.linkedin_username| escape }} on LinkedIn">
      <span class="jam jam-linkedin"></span>
    </a>
  </li>
  {%- endif -%}
</ul>