---
layout: default
---
<article class="post">

  {%- if page.banner_image -%}
  <div class="w-full h-64 bg-center" style="background-image: url({{ page.banner_image }});"></div>
  {%- else -%}
  <hr>
  {%- endif -%}

  <div class="article container mx-auto flex" aria-label="Content">
    <div class="lg:w-3/4 xl:w-3/4 px-8 py-24 xl:px-16">
      {%- if page.title -%}
      <header>
        <h1>{{ page.title | escape }}</h1>
      </header>
      {%- endif -%}

      {{ content }}

    </div>
  </div>

</article>


