---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    {%- if page.banner_image -%}
    <div class="w-full h-64 bg-center" style="background-image: url({{ page.banner_image }});"></div>
    {%- else -%}
    <hr>
    {%- endif -%}

    <div class="article container mx-auto flex" aria-label="Content">
        <div class="lg:w-3/4 xl:w-3/4 px-8 py-24 xl:px-16 xl:border-r-2 xl:border-gray-100">
            <header>
                {%- if page.title -%}
                <h1>{{ page.title | escape }}</h1>
                {%- endif -%}
                <p class="post-meta text-xs">
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                    </time>
                    {%- if page.author -%}
                    • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                        class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
                    {%- endif -%}
                </p>
            </header>

            {{ content }}

        </div>
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<hr>

{%- if site.disqus.shortname -%}
{%- include disqus_comments.html -%}
{%- endif -%}
