.article {
  a {
    @apply text-red-600;

    &:hover {
      @apply underline;
    }
  }

  img {
    @apply mx-auto my-8;
  }

  blockquote {
    @apply font-body my-8 p-8 border-l-8 border-red-300;
    p {
      @apply italic text-lg text-gray-900;
    }
    footer {
      @apply text-gray-800;
    }
  }

  ul, ol {
    @apply my-4;

    li {
      @apply font-body text-gray-800 pl-6;

      &:before {
        @apply inline-block text-red-500 font-display font-bold;
        text-indent: -24px;
      }
    }
  }

  ul {
    li {
      &:before {
        content: "\2022";
      }
    }
  }

  ol {
    counter-reset: section;
    li {
      counter-increment: section;
      &:before {
        content: counter(section);
      }
    }
  }

  p code {
    white-space: nowrap;
    @apply border-2 border-gray-300 bg-gray-100 px-1 font-display;
  }

  figure.highlight {
    @apply bg-gray-100 border-l-4 p-6 my-8;

    pre {
      span {
        @apply font-display;
      }
    }
  }
}
