@tailwind base;

@import "base";

@tailwind components;

@tailwind utilities;

.wrapper {
  max-width: 1920px
}

.row {
  @apply flex py-16;
}

.skill-point {
  @apply w-full mb-8;

  @screen md {
    @apply w-2/3 mx-auto;
  }
  @screen lg {
    @apply w-1/3 mx-4;
  }

  .icon {
    @apply flex mx-auto mb-4 rounded-full w-24 h-24 bg-red-600;
    @apply text-5xl text-white justify-center items-center;
  }

  h3 {
    @apply text-center;
  }
}

.company-logo {
  @apply w-1/2;

  @screen md {
    @apply w-1/3;
  }
}

.btn {
  @apply block w-2/3 mx-auto px-8 py-4 rounded font-display text-center uppercase;
  transition: top 50ms linear;
  position: relative;
  top: 0;

  @screen md {
    @apply inline-flex w-auto mx-0;
  }

  &.btn-red {
    @apply bg-red-600 text-white;

    &:hover {
      top: -2px;
    }
    &:active {
      top: 1px;
    }
  }
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  overflow: visible;
}

footer {
  h2, p, span, a {
    @apply text-white;
  }

  a:hover span {
    @apply text-red-400;
  }
}

@import "article";